:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  overflow-x: hidden;
  display: flex;
  place-items: center;
}

/* Estilo para la barra de desplazamiento */
::-webkit-scrollbar {
  width: 8px; /* Tamaño de la barra */
  height: 8px; /* Tamaño para barras horizontales */
}

/* Estilo para el pulgar (la parte que se mueve) */
::-webkit-scrollbar-thumb {
  background-color: #888; /* Color del pulgar */
  border-radius: 10px; /* Bordes redondeados */
  border: 2px solid #ccc; /* Borde alrededor del pulgar */
}

/* Estilo para la pista (el área donde se mueve el pulgar) */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; /* Color de la pista */
  border-radius: 10px; /* Bordes redondeados */
}
